/*  your css code here. If applicable */
h1{
	text-align:center;
}
.green{
	background-color:green;
}
.blue{
	background-color:blue;
}
table{
	border:1px solid black;
	margin : 1px;
}
th{
	padding:1px
}